#friends_screen{
    height: 170vh;
}
#friends-display-link{
    text-align: center;
    display: block;
    background-color: var(--lightgray);
    padding: 20px 0px;
    font-size: 18px;
    margin-bottom: 15px;
}
#friends-display-link i{
    color: var(--gray);
    padding-right: 5px;
}
.friends__screen{
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid var(--purple);
    padding-top: 15px;
}
.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--purple);
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen{
    background-color: var(--lightgray);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}