.settings__setting{
    padding: 15px 10px;
    font-size: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i{
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}
.settings__setting-column{
    font-size: 18px;
}
.setting_notification{
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position:absolute;
    right:20px;
    top: 53px;
}

.setting-list{
    border-bottom: 1px solid var(--gray);
}
.settings-notification{
    background-color: tomato;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 150px;
    top: 140px;
}